<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3.0.5"></script>
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>

<body>
    <div id="app">
        
        <!-- Folders Manage -->
        <div class="add-new-folder-form" v-if="page === 'folder' ">
            
            <p>Quick Save As</p>
            
            <input type="text" id="directory-name" class="new-input" ref="newDirectoryName" placeholder="Name">
            <input type="text" id="directory-name" class="new-input" ref="newDirectoryCategory" placeholder="Category">
            <input type="text" id="directory-path" class="new-input" ref="newDirectoryPath" placeholder="Directory Path">

            <div class="btn-wrapper">
                <div class="add-new-btn clear-btn" @click="clearStorge">Clear Data</div>
                <div class="add-new-btn create-btn" @click="addFolder">Add New</div>
            </div>
        </div>

        <div id="folder-list" ref="folderList" v-if="page === 'folder' ">
            <div class="folder-links-item" v-for="(link, index) in directorysList.data" :key="link.name">
                <div class="item-info">
                    <p>{{link.name}}</p>
                    <p>cate: {{link.category}}</p>
                    <p>{{link.path}}</p>
                </div>
                <div class="operate-btn edit-btn">Edit</div>
                <div class="operate-btn delete-btn" @click="deleteFolder(index)">Delete</div>
            </div>
        </div>

    </div>


    <script type="module">
        import app from './popup.js'
        const {createApp} = Vue;
        createApp(app).mount('#app');
    </script>

    <script src="popup.js"></script>
</body>

</html>
